<div>
		<h1>Welcome to Pinteresting. <small>Be awesome.</small></h1>
</div>
<div class="jumbotron">
	<h1>Hello,</h1>
	<p>Click here to begin <%= link_to "Sign up", "#", class: "btn btn-primary btn-sm" %>
		<%= link_to "Log In", "#", class: "btn btn-default btn-sm" %>
	</p>
</div>